{% extends 'base.html.twig' %}

{% block title %}Hello CategorieController!
{% endblock %}

{% block body %}

	<div class="container">

		{% for notification in app.flashes('Success') %}
			<div class="alert alert-success col-md-6 mx-auto text-center disparition">
				{{ notification }}
			</div>
		{% endfor %}

		<div>
			<a class="btn btn-dark" href="{{ path('app_home') }}">Retour</a>
		</div>

		<div class="example-wrapper text-center mb-4">
			<h1>Hello
				{{ controller_name }}
				! 🫧</h1>
		</div>

		<table class="table">
			<thead>
				<tr class="table-info">
					<th scope="col">Nom de la catégorie :
					</th>
					<th scope="col">Dossier :
					</th>
					<th scope="col">Actions :
					</th>
				</tr>
			</thead>
			<tbody>


				{% for value in categorie %}
					<tr>
						<th scope="row">{{value.nom}}</th>
						<th scope="row">{{value.dossier}}</th>

						<td>
							<div class="d-flex">
								<a href="{{ path('categorie_details', {'id': value.id } ) }}"><img src="{{ asset('images/icones/loupe.png') }}" alt="" class="me-2" style="width:20px"></a>
								<a href="{{ path('categorie_update', {'id': value.id } ) }}"><img src="{{ asset('images/icones/crayon.png') }}" alt="" class="me-2" style="width:20px"></a>
								<a href="{{ path('categorie_delete', {'id': value.id } ) }}"><img src="{{ asset('images/icones/pb.png') }}" alt="" class="me-2" style="width:20px"></a>

							</div>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>


		{#### Form pour ajouter categorie ########}

		<h2 class="mb-3 text-center my-4">Entrer votre nouvelle catégorie 🫧 :</h2>

		<div class="inputForm">
			{{form(FormCategorie)}}
			</div>
		</div>

	{% endblock %}
