{% extends 'base.html.twig' %}


{% block body %}

	<div class="container">

		{% for notification in app.flashes('Success') %}
			<div class="alert alert-success col-md-6 mx-auto text-center disparition">
				{{ notification }}
			</div>
		{% endfor %}

		<div>
			<a class="btn btn-dark" href="{{ path('app_home') }}">Retour</a>
		</div>

		<div class="example-wrapper text-center mb-4">
			<h1>Hello
				{{ controller_name }}
				! 📖</h1>
		</div>


		<table class="table">
			<thead>
				<tr class="table-info">
					<th scope="col">ID</th>
					<th scope="col">Catégorie</th>
					<th scope="col">Titre</th>
					<th scope="col">Artiste</th>
					<th scope="col">Prix</th>
					<th scope="col">Fichier</th>
					<th scope="col">Actions</th>


				</tr>
			</thead>
			<tbody>


				{% for value in produits %}
					<tr>
						<th scope="row">{{value.id}}</th>

						<td>
							{% if value.IdCategorie %}

								{{value.idCategorie.nom}}
							{% endif %}
						</td>
						<td>{{value.titre}}</td>
						<td>{{value.description}}</td>
						<td>{{value.prix}}</td>
						<td>{{value.fichier}}</td>
						<td>
							<div class="d-flex">
								<a href="{{ path('produits_details', {'id': value.id } ) }}"><img src="{{ asset('images/icones/loupe.png') }}" alt="" class="me-2" style="width:20px"></a>
								<a href="{{ path('produits_update', {'id': value.id } ) }}"><img src="{{ asset('images/icones/crayon.png') }}" alt="" class="me-2" style="width:20px"></a>
								<a href="{{ path('produits_delete', {'id': value.id } ) }}"><img src="{{ asset('images/icones/pb.png') }}" alt="" class="me-2" style="width:20px"></a>

							</div>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		{#### fin du Tableau ########}

		<h2 class="mb-3 text-center mt-4 mb-4">Insérer un nouveau fichier 🗃️ :</h2>

		{#### Form pour ajouter fichier ########}
		<div class="inputForm">
			{{form(FormProduits)}}
			</div>

		</div>

	{% endblock %}
