{% extends 'base.html.twig' %}

{% block body %}

	<div class="container">

		{% for notification in app.flashes('Success') %}
			<div class="alert alert-success col-md-6 mx-auto text-center disparition">
				{{ notification }}
			</div>
		{% endfor %}

		<div class="example-wrapper text-center mb-3">
			<h1>Hello
				{{ controller_name }}
				! ⏯️</h1>
		</div>

		<a href="{{ path('app_produits') }}" class="btn btn-dark">Retour</a>


		<div class="card text-center" style="width: 30rem;">
			<div class="card-header">

				<p class="card-text">ARTISTE :
					{{produits.description}}</p>

			</div>

			<div class="card-body">

				<p class="card-title">ID BDD :
					{{produits.id}}</p>
				<p class="card-text">CATÉGORIE :
					{{produits.IdCategorie.nom}}</p>
				<p class="card-text">TITRE :
					{{produits.titre}}</p>
				<p class="card-text">PRIX :
					{{produits.prix}}
					euros.</p>
				<p class="card-text">FICHIER :
					{{produits.fichier}}</p>

			</div>

		</div>
	</div>

{% endblock %}
