{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="text-center">Hello Contact 📨</h1>

		<div style="width: 40rem" class="m-auto">


			{{ form_start(form) }}

			{{ form_row(form.email) }}
			{{ form_row(form.subject) }}


			{{ form_row(form.message) }}


			{{ form_rest(form) }}

			{# {% if 'ROLE_ARTISTE' in app.user.roles %}
													{{ form_row(form.file) }}
													<p>Pour envoyer un fichier audio ou video, veuillez compresser votre fichier s'il vous plait.</p>
										
												{% else %}
													<p class="fw-bold fst-italic">Pour envoyer un fichier vous devez posséder un profil artiste.
														<br>
														Pour avoir ce profil, envoyez-nous un message avec en sujet : Profil Artiste.
														<br>
														Merci, l'équipe JXAD Musique.</p>
										
												{% endif %} #}

			{{ form_end(form) }}
		</div>

		<p class="fst-italic">** Cette option est disponible avec un profil Artiste.
			<br>
			Pour bénéficier de ce profil, envoyez-nous un message.
			<br>
			Merci, l'équipe JXAD Musique. 🦋</p>

	</div>

{% endblock %}
