{% extends 'base.html.twig' %}


{% block body %}

	<h1 class="text-center my-4">Inscrivez-vous sur JXAD musique 🩵 🎼</h1>

	<div class="container text-center">
		<div style="width: 40rem" class="m-auto">


			{{ form_start(registrationForm) }}

			{{ form_row(registrationForm.nom) }}
			{{ form_row(registrationForm.prenom) }}
			{{ form_row(registrationForm.email) }}
			<p class="text-center d-flex justify-content-center">
				Votre e-mail ne sera pas utilisé à des fins commerciales, <br> il ne servira qu'à vous envoyer des mails pour vos commandes ou vos informations personnelles.</p>
			{{ form_row(registrationForm.adresse) }}
			{{ form_row(registrationForm.codePostal) }}
			{{ form_row(registrationForm.telephone) }}
			{{ form_row(registrationForm.plainPassword, {
            label: 'Entrer votre mot de passe :'
        }) }}
			{{ form_row(registrationForm.RGPDConsent) }}

			{{ form_end(registrationForm) }}

		</div>

		<a class="lienLog my-4" href="{{ path('app_login')}}">Déja inscrit(e) ? Connectez-vous en cliquant ici !
		</a>
	</div>
{% endblock %}
