{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
	<div class="container">
		<div>
			<a class="btn btn-dark mb-4" href="{{ path('app_home') }}">Retour</a>
		</div>

		<div class="card text-center" style="height: auto; width: 75%">
			<div class="card-header">
				<h3>Votre panier ⚡️</h3>
			</div>

			<div class="d-flex justify-content-between align-items-center">
				<div class="fw-bold mx-4 my-4">
					<p>Nombre de produit : {{ cart|length }}.</p>
				</div>

				{% if cart|length > 0 %}
					<div class="d-flex justify-content-end">
						<a class="btn btn-danger text-center my-3 mx-4" style="width: 12rem" href="{{ path('delete_all_cart') }}">
							Vider mon panier</a>
					</div>
				</div>

				{% set total = null %}

				<div class="trait border border-dark m-auto my-5" style="width: 20rem"></div>

				<div class="row d-flex justify-content-center my-4">
					{% for value in cart %}
						{% set total = total + (value.produits.prix * value.quantity) %}
						<div class="col-md-4">
							<div class="card mb-4" style="width: 15rem; height: 13rem">
								<div class="card-body">
									<h5 class="card-title">Titre: {{ value.produits.titre }}</h5>
									<p class="card-text">Artiste: {{ value.produits.description }}</p>
									<p class="card-text">Catégorie: {{ value.produits.IdCategorie.nom }}</p>
									<p class="card-text fw-bold">Prix: {{ (value.produits.prix * value.quantity)|number_format(2, ',', '.') }} euros.</p>
									<div class="text-center">
										<a href="{{ path('delete_cart', {'id': value.produits.id }) }}">
											<img src="{{ asset('images/icones/poubelle.png') }}" alt="" class="me-2" style="width:20px">
										</a>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>

				<div class="card-footer">
					<div class="d-flex justify-content-between align-items-center">
						<div class="text-center">
							<p class="fw-bold card-text">Prix total : {{ (total)|number_format(2, ',', '.') }} euros.</p>
						</div>
						<div class="text-end">
							<a href="{{ path('app_stripe') }}" class="btn btn-success text-center">Payer</a>
						</div>
					</div>
				</div>
			{% else %}
					<div class="text-center">
						<a class="btn btn-dark my-3 mx-3" href="{{ path('app_home') }}">VOTRE PANIER EST VIDE</a>
					</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
